.admin-posts-edit.row {
    height: 100%;

    .box-side-bar {
        display: inline-block;
        height: 100%;

        ul {
            list-style: none;
        }
    }

    select#category {
        margin-bottom: 20px;
    }
}
