// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito'); // Variables
@import 'variables'; // Bootstrap
@import '~bootstrap/scss/bootstrap';

.my_navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

.my_navbar-brand {
    display: inline-block;
    padding-top: 0.32rem;
    padding-bottom: 0.32rem;
    font-size: 1.125rem;
    line-height: inherit;
    white-space: nowrap;

    a {
        background-color: #222222 !important;
    }


}

ul.navbar-nav.mr-auto li {
    padding-right: 20px;
}
