.admin-index {
    height: 100%;

    .box-side-bar {
        background-color: #E6B0AA;
        width: 200px;
        padding: 10px 25px;
        height: 100%;

        ul {
            list-style: none;
        }
    }
}
